.select__control  {
    background-color: #1e1e2f !important;
}

.select__multi-value {
    background-color: #27293d !important;
    color: white !important;
}

.select__multi-value__label {
    font-size: 14px !important;
    color: white !important;
}

.select__menu {
    background-color: #27293d !important;
    z-index: 200;
}

.css-1uccc91-singleValue {
    color: white !important;
}
